* {
    box-sizing: content-box;
  }
h1 {
    color: #f8f0f0;
    text-align: center;
    background-color: rgb(12, 12, 12);
}
#main {
    text-align: center;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
}